@import url(/teambit/node_modules/bootstrap/dist/css/bootstrap.min.css);body {
  font-family: 'Source Sans Pro', sans-serif;
}

header .container {
  height: 70px;
  border-bottom: 1px solid #BCB4AE;
}

header .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-list a {
  color: #827063;
  font-weight: bold;
  font-size: 14px;
  margin: 0 20px;
}

header .menu-list a:last-child {
  margin-right: 0;
  border: 1px solid #31488A;
  border-radius: 5px;
  padding: 10px 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #31488A;
}

header .menu-list a:last-child:hover {
  background-color: #31488A;
  color: white;
}

header .menu-list a:hover {
  text-decoration: none;
  color: #31488A;
}

header .menu-list a .fa-google {
  margin-right: 5px;
  font-size: 16px;
  vertical-align: middle;
}

#firstSection .container {
  padding: 100px 0;
}

#firstSection h1 {
  color: #827063;
  font-size: 50px;
  margin-bottom: 30px;
  color: #58402c;
  line-height: 1.4;
  font-weight: 600;
}

#firstSection h5 {
  font-size: 1.375rem;
  margin-bottom: 40px;
  color: #58402c;
}

