@import url(/teambit/node_modules/bootstrap/dist/css/bootstrap.min.css);body {
  font-family: 'Source Sans Pro', sans-serif;
}

.smalltitles {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #58402c;
}

.email-link {
  color: #58402c;
  font-size: 14px;
}

.email-link:hover {
  text-decoration: none;
}

header .container {
  height: 70px;
  border-bottom: 1px solid #BCB4AE;
}

header .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-list a {
  color: #827063;
  font-weight: bold;
  font-size: 14px;
  margin: 0 20px;
}

header .menu-list a:last-child {
  margin-right: 0;
  border: 1px solid #31488A;
  border-radius: 5px;
  padding: 10px 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #31488A;
}

header .menu-list a:last-child:hover {
  background-color: #31488A;
  color: white;
}

header .menu-list a:hover {
  text-decoration: none;
  color: #31488A;
}

header .menu-list a .fa-google {
  margin-right: 5px;
  font-size: 16px;
  vertical-align: middle;
}

#firstSection .container {
  padding: 100px 0;
}

#firstSection .container .row h1 {
  color: #827063;
  font-size: 50px;
  margin-bottom: 30px;
  color: #58402c;
  line-height: 1.4;
  font-weight: 600;
}

#firstSection .container .row h5 {
  font-size: 22px;
  margin-bottom: 40px;
  color: #58402c;
}

button {
  background-color: #31488A;
  color: white;
  outline: none;
  border-style: none;
  border-radius: 5px;
  padding: 5px 20px;
}

button:hover {
  background-color: #263766;
}

.btnCnt {
  margin-bottom: 20px;
}

.btnCnt span {
  color: lightgrey;
  font-size: 13px;
  margin: 0 15px;
}

.coloredSection {
  background-color: #FFE7D3;
}

.coloredSection .container {
  padding: 80px 0;
}

.coloredSection .container .smalltitles {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #58402c;
}

.coloredSection .container .image-cnt {
  max-width: 140px;
  margin: 20px auto;
  text-align: center;
}

.coloredSection .container .image-cnt img {
  height: 106px;
}

.coloredSection .container .img-subtitle {
  font-size: 1.125rem;
  text-align: center;
  color: #58402c;
  margin: 0 30px 100px;
}

.coloredSection .container .one-image-line {
  max-width: 280px;
  margin-bottom: 100px;
}

.coloredSection .container .line-bottom {
  border-bottom: 1px solid #BCB4AE;
  margin-bottom: 80px !important;
}

#thirdSection .margin_rows {
  margin: 100px 0;
}

#thirdSection .margin_rows .smalltitles.leftside {
  text-align: left;
  margin-bottom: 25px;
}

#thirdSection .margin_rows .desc_cnt {
  width: 420px;
}

#thirdSection .margin_rows .description {
  margin-bottom: 40px;
  font-size: 1.375rem;
  text-align: left;
}

#thirdSection .margin_rows .learn_link {
  color: #30488F;
  font-size: 1.375rem;
}

#thirdSection .margin_rows .img_dec_cnt {
  margin-top: 40px;
  text-align: center;
}

#thirdSection .margin_rows .img_dec_cnt .decoration_imgs {
  text-align: center;
  max-width: 240px;
}

.coloredSection #biggerTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #58402c;
  max-width: 628px;
  margin: 0 auto;
  margin-bottom: 15px;
  line-height: 1.53;
}

.coloredSection #blockquote {
  background: white;
  border-radius: 5px;
  border: 1px solid #bdb5af;
  position: relative;
  max-width: 628px;
  margin: 35px auto;
}

.coloredSection #blockquote #quote_img {
  width: 37px;
  position: absolute;
  top: -23px;
}

.coloredSection #blockquote #text_cnt {
  padding: 20px 20px 20px 40px;
}

.coloredSection #blockquote #text_cnt #author-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coloredSection #blockquote #text_cnt #author-quote img {
  width: 40px;
}

.coloredSection #blockquote #text_cnt #author-quote div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coloredSection #blockquote #text_cnt #author-quote div #author-names {
  color: #30488f;
}

.coloredSection #blockquote #text_cnt #author-quote div p {
  margin: 0;
  font-size: 13px;
  color: #58402c;
}

footer {
  margin: 100px 0;
}

footer #flex-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #flex-cnt #smiley-cnt {
  display: inline-block;
}

footer #flex-cnt #smiley-cnt #smiley-face {
  width: 50px;
}

footer #flex-cnt #littleText {
  padding-left: 20px;
  font-weight: 600;
  font-size: 1.125rem;
  color: #58402c;
}

footer #flex-cnt #littleText #keyword {
  color: #30488F;
}

footer #list {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #list ul {
  list-style: none;
}

footer #list ul .list-header {
  color: #58402c;
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 20px;
}

footer #list ul li {
  line-height: 2.4;
}

footer #list ul li a {
  color: #58402c;
}

footer #list ul li a:hover {
  text-decoration: none;
  color: #30488F;
}

