button{
   background-color: $blueBtnColor;
   color: white;
   outline: none;
   border-style: none;
   border-radius: 5px;
   padding: 5px 20px;

   &:hover{
      background-color: #263766;
   }
}
