button{
   background-color: $blueBtnColor;
   color: white;
   outline: none;
   border-style: none;
   border-radius: 5px;
   padding: 5px 20px;

   &:hover{
      background-color: #263766;
   }
}

.btnCnt{
   margin-bottom: 20px;

   span{
      color: lightgrey;
      font-size: 13px;
      margin: 0 15px;
   }
}
