.coloredSection{
   background-color: #FFE7D3;

   .container{
      padding: 80px 0;

      .title_on_backgr{
         text-align: center;
         font-size: 26px;
         font-weight: 600;
         margin-bottom: 50px;
         color: $titleColor;
      }

      .image-cnt{
         max-width: 140px;
         margin: 20px auto;

         img{
            height: 106px;
         }
      }

      .img-subtitle{
         font-size: 1.125rem;
         text-align: center;
         color: $titleColor;
         margin: 0 30px 100px;
      }

      .one-image-line{
         max-width: 280px;
         margin-bottom: 100px;
      }

      .line-bottom{
         border-bottom: 1px solid $borderBottomColor;
         margin-bottom: 100px !important;
      }
   }

}
