$titleColor: #58402c;
#firstSection{

   .container{
      padding: 100px 0;
   }
   h1{
      color: $textColor;
      font-size: 50px;
      margin-bottom: 30px;
      color: $titleColor;
      line-height: 1.4;
      font-weight: 600;
   }

   h5{
      font-size: 1.375rem;
      margin-bottom: 40px;
      color: $titleColor;
   }
}
