#firstSection{

   .container{
      padding: 100px 0;

      .row{

         h1{
            color: $textColor;
            font-size: 50px;
            margin-bottom: 30px;
            color: $titleColor;
            line-height: 1.4;
            font-weight: 600;
         }

         h5{
            font-size: 22px;
            margin-bottom: 40px;
            color: $titleColor;
         }
      }
   }

}
