header{
   width: 1170px;
   max-width: 1170px;
   height: 70px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #BCB4AE;

   .menu-list{

      a{
         color: #827063;
         font-weight: bold;
         font-size: 13px;
         margin: 0 20px;

         &:last-child{
            margin-right: 0;
            border: 1px solid #31488A;
            border-radius: 5px;
            padding: 10px 10px;
            transition: all 0.5s ease;

            &:hover{
               background-color: #31488A;
               color: white;
            }
         }

         &:hover{
            text-decoration: none;
            color: #31488A;
         }
         .fa-google{
            margin-right: 5px;
            font-size: 16px;
            vertical-align: middle;
         }
      }

   }
}
