$blueColor: #31488A;

header{

   .container{
      height: 70px;
      border-bottom: 1px solid #BCB4AE;
   }
   .row{
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .menu-list{
      a{
         color: $textColor;
         font-weight: bold;
         font-size: 14px;
         margin: 0 20px;

         &:last-child{
            margin-right: 0;
            border: 1px solid $blueColor;
            border-radius: 5px;
            padding: 10px 10px;
            transition: all 0.5s ease;
            color: $blueColor;

            &:hover{
               background-color: $blueColor;
               color: white;
            }
         }

         &:hover{
            text-decoration: none;
            color: $blueColor;
         }
         .fa-google{
            margin-right: 5px;
            font-size: 16px;
            vertical-align: middle;
         }
      }

   }
}
