$margin_desc: 40px;

#thirdSection{

   .margin_rows{
      margin: 100px 0;

      .smalltitles.leftside{
         text-align: left;
         margin-bottom: 25px;
      }

      .desc_cnt{
         width: 420px;
      }

      .description{
         margin-bottom: $margin_desc;
         font-size: 1.375rem;
         text-align: left;
      }

      .learn_link{
         color: #30488F;
         font-size: 1.375rem;
      }
      .img_dec_cnt{
         margin-top: $margin_desc;
         text-align: center;

         .decoration_imgs{
            text-align: center;
            max-width: 240px;
         }
      }
   }
}
